Titel:
	{values.title}

Autor/in / Herausgeber/in:
	{values.author}

Erscheinungsort / Verlag: {values.editor}

Erscheinungsjahr: {values.publishingYear}

Auflage: {values.issue}

ISBN: {values.isbn}

Weitere Angaben:
	{values.additionalData}


Name, Vorname: {values.name}

Benutzernummer: {values.userId}

E-Mail: ###value_email####

Ich studiere an der Georg-August-Universität Göttingen und benötige den Titel für meine: {values.neededFor}

Abgabetermin der Arbeit: {values.deadline}

Name der Betreuerin / des Betreuers der Arbeit: {values.tutor}

Name der Fakultät: {values.faculty}

Name des Instituts / Seminars: {values.instituteName}

Bemerkungen:
	{values.remarks}


Gesendet via www.sub.uni-goettingen.de <f:format.date format="d.m.Y - H:i:s">now</f:format.date>


<!-- ###TEMPLATE_EMAIL_ADMIN_PLAIN### -->
###master_email-admin-start-plain###
###master_email-line-plain_name###
###master_email-line-plain_email###
###master_email-admin-end-plain###
<!-- ###TEMPLATE_EMAIL_ADMIN_PLAIN### -->

<!-- ###TEMPLATE_EMAIL_ADMIN_HTML### -->
###master_email-admin-start-html###
###master_email-line-html_name###
###master_email-line-html_email###
###master_email-admin-end-html###
<!-- ###TEMPLATE_EMAIL_ADMIN_HTML### -->
