<!-- ###TEMPLATE_EMAIL_USER_PLAIN### -->
###master_email-user-start-plain###
###master_email-line-plain_name###
###master_email-line-plain_email###
Sehr geehrte Dame, sehr geehrter Herr,

wir danken Ihnen für Ihren Bücherwunsch, den Sie mit diesen Angaben an uns gesendet haben:

Titel:
	{buecherwunsch.title}

Autor/in / Herausgeber/in:
	{buecherwunsch.author}

Erscheinungsort / Verlag:
	{buecherwunsch.editor}

Erscheinungsjahr:
	{buecherwunsch.publishingYear}

Auflage:
	{buecherwunsch.issue}

ISBN:
	{buecherwunsch.isbn}

Weitere Angaben:
	{buecherwunsch.additionalData}

Adresse

Name, Vorname:
	{buecherwunsch.name}

Benutzernummer:
	###value_userId###

E-Mail:
	###value_email###

Ich studiere an der Georg-August-Universität Göttingen und benötige den Titel für meine:
	{buecherwunsch.neededFor}

Abgabetermin der Arbeit:
	{buecherwunsch.deadline}

Name der Betreuerin / des Betreuers der Arbeit:
	{buecherwunsch.tutor}

Name der Fakultät:
	{buecherwunsch.faculty}

Name des Instituts / Seminars:
	{buecherwunsch.instituteName}

Bemerkungen:
	{buecherwunsch.remarks}


Gerne informieren wir Sie, sobald der Titel für Sie in der Ausleihe bereitliegt. Sollten wir das Buch nicht erwerben können, so erhalten Sie von uns umgehend eine Nachricht.

Mit freundlichen Grüßen,

Niedersächsische Staats- und Universitätsbibliothek Göttingen
Gruppe Monographien
D-37070 Göttingen

buecherwunsch@sub.uni-goettingen.de
###master_email-user-end-plain###
<!-- ###TEMPLATE_EMAIL_USER_PLAIN### -->
