<h3>Vielen Dank für Ihren Bücherwunsch.</h3>

<p>Wir haben Ihnen soeben eine E-Mail mit den übermittelten Daten gesandt.</p>

<p>Gerne informieren wir Sie, sobald der Titel für Sie in der Ausleihe bereitliegt. Sollten wir das Buch nicht erwerben können, so erhalten Sie von uns umgehend eine Nachricht.</p>

<p>Niedersächsische Staats- und Universitätsbibliothek Göttingen
	<br />
Gruppe Monographien
		<br />

 <f:link.email email="buecherwunsch@sub.uni-goettingen.de">buecherwunsch@sub.uni-goettingen.de</f:link.email>
</p>

<h3>Ihre übermittelten Daten</h3>

<ul>
	<li>Titel: {buecherwunsch.title}</li>

	<li>Autor/in / Herausgeber/in: {buecherwunsch.author}</li>
	<li>Erscheinungsort / Verlag: {buecherwunsch.editor}</li>
	<li>Erscheinungsjahr: {buecherwunsch.publishingYear}</li>
	<li>Auflage: {buecherwunsch.issue}</li>
	<li>ISBN: {buecherwunsch.isbn}</li>
	<li>Weitere Angaben: {buecherwunsch.additionalData}</li>
</ul>
<ul>
	<li>Name, Vorname: {buecherwunsch.name}</li>
	<li>Benutzernummer: {buecherwunsch.userId}</li>
	<li>E-Mail: {buecherwunsch.emailAddress}</li>
	<li>Ich studiere an der Georg-August-Universität Göttingen und benötige den Titel für meine: {buecherwunsch.neededFor}</li>
	<li>Abgabetermin der Arbeit: {buecherwunsch.deadline}</li>
	<li>Name der Betreuerin / des Betreuers der Arbeit: {buecherwunsch.tutor}</li>
	<li>Name der Fakultät: {buecherwunsch.faculty}</li>
	<li>Name des Instituts / Seminars: {buecherwunsch.instituteName}</li>
	<li>Bemerkungen:<br>{buecherwunsch.remarks}</li>
</ul>