<!-- ###TEMPLATE_FORM1### begin -->
<div class="subforms">
	<form action="###REL_URL###" id="buecherwunsch" name="buecherwunsch" method="POST" class="form">
		###HIDDEN_FIELDS###

		<fieldset>
			<legend>###LLL:tx_subforms_domain_model_buecherwunsch.legend###</legend>

			###master_input_isbn###

			###master_input_title###

			###master_input_author###

			###master_input_editor###

			###master_input_publishingYear###

			###master_input_issue###

			###master_input_additionalData###

		</fieldset>
		<fieldset>
			<legend>Adresse</legend>

			###master_input_name###

			###master_input_userId###

			###master_input_email###

			<div class="fieldwrap">
				<p>###LLL:tx_subforms_domain_model_buecherwunsch.legend###</p>

				<div class="fieldwrap fieldwrap_radio">
					<input id="neededFor_1" type="radio" name="tx_subforms_buecherwunsch[buecherwunsch][neededFor]"
					       value="Hausarbeit" checked="checked"/>
					<label for="neededFor_1">###LLL:tx_subforms_domain_model_buecherwunsch.neededFor.hausarbeit###</label>
				</div>
				<div class="fieldwrap fieldwrap_radio">
					<input id="neededFor_2" type="radio" name="tx_subforms_buecherwunsch[buecherwunsch][neededFor]"
					       value="Bachelorarbeit"/>
					<label for="neededFor_2">
						###LLL:tx_subforms_domain_model_buecherwunsch.neededFor.bachelorarbeit###
					</label>
				</div>

				<div class="fieldwrap fieldwrap_radio">
					<input id="neededFor_3" type="radio" name="tx_subforms_buecherwunsch[buecherwunsch][neededFor]"
					       value="Masterarbeit"/>
					<label for="neededFor_3">
						###LLL:tx_subforms_domain_model_buecherwunsch.neededFor.masterarbeit###
					</label>
				</div>

				<div class="fieldwrap fieldwrap_radio">
					<input id="neededFor_4" type="radio" name="tx_subforms_buecherwunsch[buecherwunsch][neededFor]"
					       value="Diplomarbeit"/>
					<label for="neededFor_4">
						###LLL:tx_subforms_domain_model_buecherwunsch.neededFor.diplomarbeit###
					</label>
				</div>

				<div class="fieldwrap fieldwrap_radio">
					<input id="neededFor_5" type="radio" name="tx_subforms_buecherwunsch[buecherwunsch][neededFor]"
					       value="Staatsexamensarbeit"/>
					<label for="neededFor_5">
						###LLL:tx_subforms_domain_model_buecherwunsch.neededFor.staatsexamensarbeit###
					</label>
				</div>
				<div class="fieldwrap fieldwrap_radio">
					<input id="neededFor_6" type="radio" name="tx_subforms_buecherwunsch[buecherwunsch][neededFor]"
					       value="Magisterarbeit"/>
					<label for="neededFor_6">
						###LLL:tx_subforms_domain_model_buecherwunsch.neededFor.magisterarbeit###
					</label>
				</div>
			</div>

			###master_input_date_deadline###

			###master_input_tutor###

			<div class="fieldwrap">
				<label for="faculty">
					###LLL:tx_subforms_domain_model_buecherwunsch.faculty###
				</label>
				<select id="faculty" name="faculty">
					<option value="Agrarwissenschaften">Fakultät für Agrarwissenschaften</option>
					<option value="Biologische">Biologische Fakultät inkl. Psychologie</option>
					<option value="Chemie">Fakultät für Chemie</option>
					<option value="Forstwissenschaften">Fakultät für Forstwissenschaften und Waldökologie</option>
					<option value="Geowissenschaften">Fakultät für Geowissenschaften und Geographie</option>
					<option value="Mathematik">Fakultät für Mathematik und Informatik</option>
					<option value="Physik">Fakultät für Physik</option>
					<option value="Juristische">Juristische Fakultät</option>
					<option value="Sozialwissenschaftliche">Sozialwissenschaftliche Fakultät</option>
					<option value="Wirtschaftswissenschaftliche">Wirtschaftswissenschaftliche Fakultät</option>
					<option value="Philosophie">Philosophische Fakultät</option>
					<option value="Theologische">Theologische Fakultät</option>
					<option value="Universitaetsmedizin">Universitätsmedizin</option>
				</select>
			</div>

			###master_input_instituteName###

			###master_textarea_remarks###

		</fieldset>
		###master_submit_submit###

	</form>
</div>
<!-- ###TEMPLATE_FORM1### end -->

<!-- ###TEMPLATE_SUBMITTEDOK### begin -->
<p>The following message has been sent:</p>
<p>###value_message###</p>
<!-- ###TEMPLATE_SUBMITTEDOK### end -->
