Bücherwunsch

Titel:
	{buecherwunsch.title}

Autor/in / Herausgeber/in:
	{buecherwunsch.author}

Erscheinungsort / Verlag:
	{buecherwunsch.editor}

Erscheinungsjahr:
	{buecherwunsch.publishingYear}

Auflage:
	{buecherwunsch.issue}

ISBN:
	{buecherwunsch.isbn}

Weitere Angaben:
	{buecherwunsch.additionalData}

Adresse

Name, Vorname:
	{buecherwunsch.name}

Benutzernummer:
	{buecherwunsch.userId}

E-Mail:
	{buecherwunsch.emailAddress}

Ich studiere an der Georg-August-Universität Göttingen und benötige den Titel für meine:
	{buecherwunsch.neededFor}

Abgabetermin der Arbeit:
	{buecherwunsch.deadline}

Name der Betreuerin / des Betreuers der Arbeit:
	{buecherwunsch.tutor}

Name der Fakultät:
	{buecherwunsch.faculty}

Name des Instituts / Seminars:
	{buecherwunsch.instituteName}

Bemerkungen:
	{buecherwunsch.remarks}


Gesendet via www.sub.uni-goettingen.de <f:format.date format="d.m.Y - H:i:s">now</f:format.date>
