<!-- ###TEMPLATE_FORM1### begin -->
<div class="subforms">
	<form action="###REL_URL###" id="patenschaft" name="patenschaft" method="POST" class="form">
		###HIDDEN_FIELDS###

		<fieldset>
			<legend>###LLL:tx_subforms_domain_model_patenschaft.legend###</legend>

			###master_input_titel###

			###master_input_anrede###

			###master_input_name###

			###master_input_vorname###

			###master_input_email###

			###master_input_anschrift###

			###master_input_telefon###

			###master_input_patenschaft###

			###master_textarea_remarks###

		</fieldset>

		###master_submit_submit###

	</form>
</div>
<!-- ###TEMPLATE_FORM1### end -->

<!-- ###TEMPLATE_SUBMITTEDOK### begin -->
<p>The following message has been sent:</p>
<p>###value_message###</p>
<!-- ###TEMPLATE_SUBMITTEDOK### end -->
